<div class="post-container">
  <div class="post-body-container">
    <h3><%= @post.title %> by <%= @user.name %></h3>
    <p>Comments: <%= @post.comments_counter %></p> <p>Likes: <%= @post.likes_counter %></p>
    <p class="post-text"><%= @post.text %></p>
  </div>
  <% if @comments.present? %>
  <div class="comments-container">
  <% @comments.each do |comment| %>
    <%= render "shared/comment", comment: comment %>
    <% end %>
    </div>
    <% end %>
    <div class="like-comment">
    <%= form_with url: user_post_likes_path(@post.author.id, @post.id) do |form| %>
      <%= form.submit 'Like', class: "comment-btn" %>
    <% end %>
      <%= link_to "Comment", new_user_post_comment_path(@post.author.id, @post.id), class: "comment-btn" %>
    </div>
</div>